
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>

<!-- Title, description and keywords -->
<title>Archer Website Template by Marcfolio</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="description" content="Archer HTML/ CSS website template." />
<meta name="keywords" content="Themeforest, wordpress, template" />
<link rel="stylesheet" type="text/css" id="skin" href="./public/styles/style.css" media="screen" />

<!-- Javascripts -->
<script type="text/javascript" src="./public/javascript/swfobject.js"></script> <!-- swfObject for embedding SWFs -->
<script type="text/javascript" src="./public/javascript/cufon-yui.js"></script> <!--cufon for text rplacement -->
<script type="text/javascript" src="./public/javascript/font_275-font_500-font_italic_275-font_oblique_500.font.js"></script> 
<script type="text/javascript">
	Cufon.replace('#twitter span, h1, h2, h3, #header_contact', { fontFamily: 'font' });
</script> 

<!-- FANCY ZOOM -->
<script type='text/javascript'>var zoomImagesBase = './public/wp-fancyzoom/';</script>
<script src='./public/wp-fancyzoom/js-global/FancyZoom.js' type='text/javascript'></script>
<script src='./public/wp-fancyzoom/js-global/FancyZoomHTML.js' type='text/javascript'></script>
<script src='./public/wp-fancyzoom/adddomloadevent.js' type='text/javascript'></script>
<script type='text/javascript'>addDOMLoadEvent(setupZoom);</script>

</head>

<body>
	<div id="wrapper">
    	<div id="header">
        	<div id="thick_h_line"></div>
            <div id="thin_h_line"></div>
            <div id="thin_v_line"></div>
   		   	<div id="logo">
          		<a href="index.html"><img src="./public/styles/images/logo.jpg" alt="logo image"/></a>
            </div>
            <div id="header_contact">
				Phone:<br />
				fedick20@gmail.com
            </div>
            <div id="navigation">
            	<a href="index.html">Home</a>&nbsp;/&nbsp;<a href="blog.html">Blog</a>
            </div>
        </div><!-- end of #header -->
        <div id= "flash_banner">
          <img src="./public/images/kitten.jpeg" alt="kitten"/>
        </div>
        <div id="content">
        	<div id="left_third">
            	<h3>Blah Blah Blah</h3>
            	<p>Technological development is always offering new opportunities for innovative design. But innovative design always develops in tandem with innovative technology, and can never be an end in itself.</p>
            	<strong><a href="index.html">READ MORE</a></strong>
            </div><!-- end of #left_third -->
            
            <div id="middle_third">
            	<h3>Designing for the Rich</h3>
            	<p>Our lovely daughter says some pretty clever things, and last night was no different. As we drove home from getting H1N1 shots.</p>
            <strong><a href="index.html">READ MORE</a></strong>
            </div><!-- end of #middle_third -->
            
            <div id="right_third">
            	<h3>Snow day on the Train</h3>
            	<p>We road the train in to work today. A rather relaxing way to travel the long coridor to Salt Lake City verses bumper to bumper 2 hours on the freeway in the snow.</p>
            <strong><a href="index.html">READ MORE</a></strong>
            </div><!-- end of #right_third -->
            
        </div><!-- end of #content -->
        
        <div id="footer">
        	<p> Copyright © 1979–2010 Marcfolio. All rights reserved. </p>
        </div><!-- end of #footer -->
        
    </div><!-- end of #wrapper -->
   
<script type="text/javascript"> Cufon.now(); </script><script type="text/javascript">
</body>
</html>
