
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>

<!-- Title, description and keywords -->
<link rel="stylesheet" type="text/css" id="skin" href="./public/styles/style.css" media="screen" />

<!-- Javascripts -->
<script type="text/javascript" src="./public/javascript/swfobject.js"></script> <!-- swfObject for embedding SWFs -->
<script type="text/javascript" src="./public/javascript/cufon-yui.js"></script> <!--cufon for text rplacement -->
<script type="text/javascript" src="./public/javascript/font_275-font_500-font_italic_275-font_oblique_500.font.js"></script> 
<script type="text/javascript">
	Cufon.replace('#twitter span, h1, h2, h3, #header_contact', { fontFamily: 'font' });
</script> 

<!-- FANCY ZOOM -->
<script type='text/javascript'>var zoomImagesBase = './public/wp-fancyzoom/';</script>
<script src='./public/wp-fancyzoom/js-global/FancyZoom.js' type='text/javascript'></script>
<script src='./public/wp-fancyzoom/js-global/FancyZoomHTML.js' type='text/javascript'></script>
<script src='./public/wp-fancyzoom/adddomloadevent.js' type='text/javascript'></script>
<script type='text/javascript'>addDOMLoadEvent(setupZoom);</script>

</head>

<body>
	<div id="wrapper">
    	<div id="header">
        	<div id="thick_h_line"></div>
            <div id="thin_h_line"></div>
            <div id="thin_v_line"></div>
   		   	<div id="logo">
          		<a href="index.html">
           		 <img alt="logo" src="./public/styles/images/logo.jpg" /></a>
            </div>
            <div id="navigation">
            	<a href="index.html">Home</a>&nbsp;/&nbsp;<a href="/gallery.html">Portfolio</a>&nbsp;/&nbsp;<a href="/contact.html">Contact</a>&nbsp;/&nbsp;<a href="/about.html">About</a>
            </div>
        </div><!-- end of #header -->
{{ content }}        
        <div id="footer">
        	<p> Copyright &copy; 2011 BakedByLauren. All rights reserved. </p>
        </div><!-- end of #footer -->
        
    </div><!-- end of #wrapper -->
   
<script type="text/javascript"> Cufon.now(); </script><script type="text/javascript">
</body>
</html>
